body {

}

img {
    width: 30%;
    margin: calc(10%/6);
}

nav {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.5em;
    width: 30%;
    margin-left: calc(10%/6);
    border-bottom: 2px solid grey;
    padding: 1.0em 0;
}