section {
    width: 80%;
    height: 800px;
    background-image: url("https://images.unsplash.com/photo-1525789351284-e1e7de240152?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80");
    background-size: cover;
    margin: 0 auto;
    background-position: bottom;
}

h1 {
    font-size: 100px;
    color: white;
}