div {
    width: 200px;
    height: 250px;
    background-color: wheat;
}

h1 {
    width: 100px;
    background-color: coral;
}

#one {
    background-color: indianred;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}

#two {
    background-color: orange;
    border-color: #74C69D;
    border-style: dashed;
    border-left-color: #081C15;
}

#three {
    background-color: yellowgreen;
}