button {
    background: none;
    border: 2px solid rgb(222, 108, 102);
    color : rgb(222, 108, 102);
    padding : 0.5em 2em;
    transition: transform 0.4s, background-color 0.5s;
}

button:hover {
    color : #ffcfcc;
    border: 2px solid #ffcfcc;
    transform: translateY(-3px);
    box-shadow: 0px 0.5em 0.5em -0.4em #ffcfcc;
    cursor: pointer;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #110b26;
}