section {
    width:500px;
    height:250px;
    background-color: magenta;
}

#rgba {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

#opacity {
    width: 50%;
    height: 100%;
    background-color: yellow;
    opacity: 0.5;
}