div {
    width:100px;
    height:100px;
    border: 5px solid black;
    background-color: darkred;
    display: inline-block;
    margin: 10px;

}

#middle {
    background-color: #081C15;
}

#section #middle {
    background-color: darkred;
    top: 100px;
}

#relative #middle {
    position: relative;
    top: 100px;
}

#absolute #middle {
    position: absolute;
    top: 0px;
    left: 0px;
}

#fixed #middle {
    position: fixed;
    top: 0px;
    left: 0px;
}
